
{% extends "base.html.twig" %}

{% block body_title %}
    <div class="page-title">
        <h1>{% trans %}edit catégories{% endtrans %}</h1>
    </div>
{% endblock body_title %}

{% block body_content %}
    <div class="">
        {{ form(form) }}
    </div>
{% endblock %}

